
{% extends "base.html" %}

{% block content %}
<h1>All Contacts</h1>

{% if request.user.is_authenticated %}


  <div class="w-33 pa3">
    <h2>{{ contact.name }}</h2>

    <div class="flex">
      <div class="pr2"><i class="icofont-location-pin"></i></div>
      <div>
        {{ contact.address_1 }}<br />
        {% if contact.address_2 %}
          {{ contact.address_2 }}<br />
        {% endif %}
        {{ contact.city }}, {{ contact.state }} {{ contact.zip_code }}
      </div>
    </div>

    {% if contact.phone_number %}
    <div class="flex">
      <div class="pr2"><i class="icofont-phone"></i></div>
      <div>{{ contact.phone_number }}</div>
    </div>
    {% endif %}

    {% if contact.email %}
    <div class="flex">
      <div class="pr2"><i class="icofont-ui-email"></i></div>
      <div>{{ contact.email }}</div>
    </div>
    {% endif %}

    <div class="flex">
      {% if contact.note %}
      <p> {{ contact.note }} </p>
      <a href="{% url 'edit_note' pk=contact.pk %}">Edit Note</a>
      <a href="{% url 'delete_note' pk=contact.pk %}">Delete Note</a>
      {% else %}
      <a href="{% url 'add_note' pk=contact.pk %}">Add Note</a>
      {% endif %}
    </div>

    <p>
      <a href="{% url 'edit_contact' pk=contact.pk %}">Edit Contact</a><br>    
      <a class="red" href="{% url 'delete_contact' pk=contact.pk %}">Delete Contact</a>
    </p>
  </div>


{% else %}

<p>Only logged in users can create and view contacts. If you don't have an account, create one!</p>

{% endif %}
{% endblock %}
