* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 1rem;
}

header,
main {
  max-width: 45rem;
  margin: 0 auto;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.green {
  color: green;
}

.page-header {
  background-color: #0a6e05;
  color: white;
  padding: 1rem 2rem;
  border-color: #97fa7f;
  border-width: 0 0 10px 0;
  border-style: solid;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.page-header h1 {
  font-size: 1.5rem;
}

.main-nav li {
  list-style: none;
  display: inline-block;
  padding: 0.5rem 1rem 0.5rem 0;
}

.main-nav a {
  color: white;
  text-decoration: none;
}

.main-nav a:hover {
  text-decoration: underline;
}

.store-image {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.plant {
  margin: 2rem 0;
}

.plant h3 {
  margin-bottom: 1rem;
  font-family: Oswald;
}
